<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dxkj.YiJiaoFei" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.example.dxkj.utils.ContextUtil"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- alipay sdk end -->
        <activity android:name=".PayActivity" />
        <activity
            android:name=".PictureActivity"
            android:label="@string/title_activity_picture"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="登录"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneActivity"
            android:label="@string/title_activity_phone"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KaQuanActivity"
            android:label="@string/title_activity_ka_quan"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GuHuaActivity"
            android:label="@string/title_activity_gu_hua"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".KaMiActivity"
            android:label="@string/title_activity_ka_mi"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QQActivity"
            android:label="@string/title_activity_qq"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LiuLiangActivity"
            android:label="@string/title_activity_liu_liang"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShuiDianMeiActivity"
            android:label="@string/title_activity_shui_dian_mei"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DianKaActivity"
            android:label="@string/title_activity_dian_ka"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OrderListActivity"
            android:label="订单列表"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FinanceActivity"
            android:label="财务管理"
            android:screenOrientation="portrait" />

        <service
            android:name="com.example.dxkj.service.MyService01"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SubActivity"
            android:label="@string/title_activity_sub" >
        </activity>
    </application>

</manifest>
